/*
	------------------------------------------------------------------------
	Placeholders
	------------------------------------------------------------------------
 */
%transition {
	@include transition(all .3s linear !important);
}

%full-height {
	height: 100%;
}

%full-left {
	width: 100%;
	float: left;
}

%first-child-no-left {
	&:first-child {
		margin-left: 0;
	}
}

%zoom {
	@include scale(1.05);
}

%show {
	opacity: 0;
	&.show {
		opacity: 1;	
	}
}

%padding-20 {
	padding: rem-calc(20);
}

%padding-30 {
	padding: rem-calc(30);
}

/*
	------------------------------------------------------------------------
	Tags
	------------------------------------------------------------------------
 */
body {
	overflow-x: hidden;
}
figure {
	margin: 0;
}

strong {
	font-weight: 600;
}

a:not(.gallery-thumb) {
	@extend %transition;
}

input, button, small.error {
	margin-bottom: 0 !important;
}