//Variables
$yellow-tint: 30%;

#jpreOverlay {
	width: 0 !important;
	height: 0 !important;
}

.ajax-loader {
	display: none;
	&.show {
		display: block;
	}
}

/*
	------------------------------------------------------------------------
	Header
	------------------------------------------------------------------------
 */
#header {
	padding: rem-calc(30) 0;
}

.select-lang { 
	margin-left: rem-calc(40);
	a {
		color: $body-font-color;
		@extend .font-medium;
		&:hover, &.active {
			color: $soft-yellow;
		}
	}

	li {
		margin-left: rem-calc(14);
		&:first-child {
			margin-left: 0;
		}
	}
}

.top-info {
	width: rem-calc(810);
}

.contact-top {
	span {
		margin-right: rem-calc(10);
	}
}

.icon-container {
	@extend %transition;
	padding: rem-calc(5);
	background-color: $yellow;
	margin-right: rem-calc(10);
}

.menu-subscriber {
	margin-top: rem-calc(11);
	span {
		display: inherit;
		padding-top: rem-calc(4);
	}
}

.menu-top {
	li {
		&:first-child {
			margin-left: 0;
			margin-right: rem-calc(10);
		}
	}
}
.social-top {
	right: rem-calc(10);
	bottom: rem-calc(33);
	border: 1px solid $yellow;
	padding: rem-calc(4);

	li {
		margin-left: rem-calc(5);
		&:first-child {
			@extend .no-margin;
		}
	}
	a {
		padding: rem-calc(5);
		background-color: $yellow;
		color: $white;
		font-size: rem-calc(22);

		&:hover {
			background-color: $orange;
		}
	}

	.icon-share2 {
		color: $white;
	}
}

#drop-share {
	padding: rem-calc(10) 0;

	a {
		padding: rem-calc(10) rem-calc(20);
	}

	span[class^="icon-"], span[class*=" icon-"] {
		@extend .rel;
		//top: rem-calc(3);
		margin-right: rem-calc(10);
	}

	.font-medium {
		@extend .rel;
		top: rem-calc(2);
	}
}

.f-dropdown{
	z-index: 9999 !important;
}

.get-mo-menu {
	margin-bottom: 0;
}

.header-lines {
	div {
		float: left;
		border-width: 2px;
		border-style: solid;
		@extend %transition;

		&:first-child {
			border-color: $primary-color;
		}
		&:nth-child(2n) {
			border-color: $dark-red;
		}
		&:nth-child(3n) {
			border-color: $primary-color;
		}
		&:nth-child(4n) {
			border-color: $black;
		}
		&:nth-child(5n) {
			border-color: $primary-color;
		}
		&:nth-child(6n) {
			border-color: $dark-red;
		}

		&.active {
			border-color: $primary-color !important;
		}
	}
}

/*
	------------------------------------------------------------------------
	Menu offcanvas - MOBILE
	------------------------------------------------------------------------
 */
#offcanvas-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: rem-calc(280);
	height: 100%;
	background-color: $soft-yellow;
	z-index: 9999999;
	//display: none;
	@extend %transition;
	@include translateX(100%);

	&.show {
		@include translateX(0);
	}

	a {
		@extend .button-submit;
		@extend .text-low;
	}

	a:not(.close-offcanvas) {
		@extend .no-margin;
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(30);
		border-top: 1px solid tint($soft-yellow,$yellow-tint);
		width: 100%; float: left;
	}

	ul {
		@extend .no-margin;
		@extend .no-bullet;

		&.submenu {
			width: 100%;
			float: left;

			a {
				@extend .button;
				@extend .font-lite;
				padding-top: rem-calc(30);
				padding-bottom: rem-calc(30);
				border-top: 1px solid tint($soft-yellow,$yellow-tint);
			}

			.icon-chevron-circle-down, .icon-uniE603 {
				display: none !important;
			}
		}
	}

	li {
		&:first-child {
			a {
				border-top: none;
			}
		}
	}
}

.submenu-mobile {
	height: 0;
	overflow: hidden;
	@extend %transition;
}

.mo-menu-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	
}

.hide-offcanvas {
	position: fixed;
	z-index: 99999;
	background-color: rgba(#000,.4);
	left: 0; top: 0;
	height: 100%;
	display: none;

	&.show {
		display: block;
	}
}

/*
	------------------------------------------------------------------------
	Menu principal
	------------------------------------------------------------------------
 */
#main-menu {
	background-image: url("images/bg-menu.png");

	ul {
		@extend .no-margin;
		@extend .inline-list;
		line-height: 0;

		&.submenu {
			display: none;
			@extend .abs;

			a {
				@extend .button;
				@extend .font-lite;
				@extend .font-large;
				padding: rem-calc(17) 0;

				&:after {
					display: none;
				}

				&:hover {
					background-color: $primary-color;
					color: $yellow;
				}
			}

			li {
				padding-left: rem-calc(20);
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}

	li {
		@extend .no-margin;
	}

	a {
		@extend .button-submit;
		@extend .text-low;
		@extend .no-margin;
		@extend .rel;
		@extend .d-block;

		padding: rem-calc(20) rem-calc(22);

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			border-left: 1px solid tint($soft-yellow,$yellow-tint);
		}

		&.active {
			background-color: $primary-color;
		}

		.icon-chevron-circle-down {
			margin-left: rem-calc(9);
		}
	}
}

.icon-chevron-circle-down {
	@extend %transition;
	&.rotate {
		@include rotate(-180deg);
	}
}

.submenu-bar {
	height: 0;
	overflow: hidden;
	background-color: $primary-color;
	@extend %transition;

	ul {
		@extend .no-margin;
		@extend .inline-list;
		line-height: 0;

		&.submenu {
			display: none;

			a {
				@extend .button;
				@extend .font-lite;
				@extend .font-large;
				padding: rem-calc(20) 0;

				&:after {
					display: none;
				}

				&:hover {
					background-color: $primary-color;
					color: $yellow;
				}
			}

			li {
				@extend .no-margin;
				padding-left: rem-calc(10);
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}

	.icon-chevron-circle-down {
		display: none !important;
	}

	.icon-uniE603 {
		margin-right: rem-calc(7);
	}
}

/*
	------------------------------------------------------------------------
	Slider principal
	------------------------------------------------------------------------
 */
#main-slider {
	height: rem-calc(492);
	background-color: tint($soft-yellow,20%);
	overflow: hidden;

	.loader {
		left: 0; top: 0;
		@extend %full-height;
		z-index: 999;
	}

	.row {
		z-index: 999;
	}
}

.slider-thumbs {
	@extend %full-height;
	overflow: hidden;
	background-color: $orange;
	right: 0; top: 0;
	z-index: 99;
	@extend %transition;
	opacity: 0;

	&.show {
		opacity: 1;
	}

	figure {
		@extend %full-height;
	}
}

#jpreBar {
	background-color: $soft-yellow;
	@extend .abs;
	top: 0; left: 0;
}

.anchor-mask {
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0; left: 0;
}

.nav-info {
	z-index: 9999;
}

.slide-info {
	@include transition(opacity .3s linear);
	opacity: 0;

	&.show {
		opacity: 1;
	}

	&.masks {
		@extend %full-height;
		article {
			@extend %full-height;
		}
		a {
			@extend %full-height;
		}
	}

	header,p {
		height: rem-calc(180);
		padding: rem-calc(20);
	}

	header {
		background-color: $white;
	}

	p {
		background-color: $ghost;
	}
}

.slide-controls {
	@extend %transition;
	@extend %show;

	a {
		display: table !important;
		padding-top: 0; padding-bottom: 0;
		height: rem-calc(72);
	}

	.bdr {
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			border-left: 1px solid $silver;
		}
	}
}

/*
	------------------------------------------------------------------------
	Tabs (home)
	------------------------------------------------------------------------
 */
#showroom-tab {
	padding: rem-calc(60) 0;
}

.tab-options {

	a {
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		color: $smoke;
		padding: rem-calc(10);
		margin-bottom: rem-calc(10);

		&.silver {
			color: $silver;
		}

		&:hover, &.active {
			color: $primary-color;
			border-color: $primary-color;
		}
	}

}

#showroom-carousel {
	margin-top: rem-calc(20);

	min-height: rem-calc(600);

	.item {
		height: rem-calc(600);
		overflow: hidden;

		&:hover {
			.infocap {
				background-color: shade($ghost,20%);
			}
		}
	}

	figure {
		z-index: 9;
		height: rem-calc(280);
	}

	img {
		height: 100%;
		width: auto;
		@extend .centered;
	}
}

.infocap {
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: rem-calc(3);
	@extend %transition;
	
	.container {
		//height: rem-calc(350);
		border: 1px solid shade($ghost,20%);

		&.ghost {
			background-color: $ghost;
		}
	}

	header {
		background-color: $white;
		margin-top: rem-calc(150);
	}

	p {
		background-color: shade($oil,20%);
		color: $white;
	}

	h3 {
		font-size: rem-calc(18);
	}

	header, p {
		height: rem-calc(120);
		padding: rem-calc(20);
	}
}

.showroom-controls {
	margin-top: rem-calc(20);

	li {
		@extend %first-child-no-left;
	}

	.btn {
		width: rem-calc(60); height: rem-calc(60);
		border: 1px solid shade($ghost,30%);
		color: shade($ghost,30%);
		font-size: rem-calc(32);
		text-align: center;
		display: table !important;

		&:hover {
			color: $primary-color;
			border-color: $primary-color;
		}
	}

	a {
		&:last-child {
			line-height: 2.6;
		}
	}
}

//slide colunistas

.blog-thumb {
	height: rem-calc(200);
	@extend %transition;

	&:hover {
		@extend %zoom;
	}
}

.container-thumb {
	position: relative;
	@extend %full-height;
	overflow: hidden;
}

.post-title {
	min-height: rem-calc(130);
	max-height: rem-calc(130);
}

.block-url {
	padding: rem-calc(15);
	&.fix {
		padding: rem-calc(20);
	}
}

.get-cat {
	top: 0; left: 0;
	z-index: 99;
}

.author-link {
	height: rem-calc(80);
	background-color: tint($oil,10%);

	&:hover {
		background-color: $primary-color;
	}
	.d-table {
		@extend %full-height;
	}
	span {
		color: $soft-yellow;
	}
}

.author-avatar {
	height: 100%;
}

.author-name {
	@extend %full-height;
	padding: 0 rem-calc(20);
	h3 {
		color: $soft-yellow;
	}
}

/*
	------------------------------------------------------------------------
	Rodape
	------------------------------------------------------------------------
 */
#footer {
	padding: rem-calc(40) 0;
}

.social-footer {
	margin-top: rem-calc(20);

	ul {
		padding: rem-calc(5);
		border: 1px solid $primary-color;
	}

	li {
		@extend %first-child-no-left;
		margin-left: rem-calc(5);
	}

	a {
		@extend .font-medium;
		@extend .d-block;
		@extend .white;
		padding: rem-calc(10);
		background-color: $primary-color;

		&:hover {
			background-color: $orange;
		}
	}
}

.share-footer {
	margin: rem-calc(30) 0;

	li {
		margin-left: rem-calc(6);
		&:nth-child(2n) {
			margin-top: rem-calc(5);
			width: rem-calc(86);
		}
		&:nth-child(3n) {
			margin-top: rem-calc(5);
		}
	}
}

.footer-newsletter {
	form {
		padding: rem-calc(6);
		border: 1px solid $oil;
	}

	input[type="email"] {
		background-color: $white;
	}
	input[type="submit"] {
		padding: rem-calc(8.5);
	}
}

#credits {
	padding: rem-calc(20) 0;
}

.icon-products {
	bottom: rem-calc(-20); right: 0;

}

.icon-foccus {
	&:hover {
		opacity: 0.8;
	}
}