.show-for-tiny {
	display: none !important;
}

@media only screen and (min-width: 0) and (max-width: rem-calc(766)) {
	//header
	.menu-subscriber {
		span {
			padding-top: 0;
		}
	}
	
	.slider-thumbs {
		height: rem-calc(300);
		position: inherit;
		float: left;
	}

	.slide-info {
		position: relative;

		.button {
			text-align: left !important;
		}

		header,p {
			height: rem-calc(120);
		}	
		h3 {
			font-size: rem-calc(20);
		}
		p {
			font-size: rem-calc(14) !important;
		}
	}

	#main-slider {
		background-color: $ghost;
		height: rem-calc(600);

		.row-small-full {
			min-width: 100% !important;
			float: left;
		}

		.button-smoke {
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}

	#jpreBar {
		display: none;
	}
	
	.small-row {
		margin: 0 auto;
	}

	.slide-controls {
		background-color: $oil;
		position: absolute;
		bottom: 0; right: rem-calc(10);
		z-index: 999;

		a {
			height: rem-calc(60);
		}
	}

	//tabs
	.tab-options {
		text-align: center;
		li {
			float: inherit;
			display: inline-block;
		}
	}

	//singles
	#product-info {
		height: auto;

		footer {
			padding-left: rem-calc(20);
			position: inherit;
			float: left;
			left: 0;
			margin-top: rem-calc(10);
		}

		.button-success {
			font-size: rem-calc(20) !important;
		}

		header {
			margin: rem-calc(20) 0;
		}
	}

	.post-header {
		margin-bottom: 0;
	}

	#nav-product-data {
		a {
			padding: rem-calc(16 12);
			font-size: rem-calc(16);
		}
		li:first-child {
			a {
				height: rem-calc(156);
			}
		}
	}
}

/*
	------------------------------------------------------------------------
	320px
	------------------------------------------------------------------------
 */
@media #{$tiny} {

	.tiny-12 {
		width: 100% !important;
	}

	.show-for-tiny {
		display: inherit !important;
	}
	.hide-for-tiny {
		display: none !important;
	}

	//general
	.small-no-margin {
		margin: 0;
	}
	.tiny-no-margin {
		margin: 0;
	}
	
	//fix row
	.row,.small-row {
		width: rem-calc(320) !important;
	}

	.your-class-name {
	  @include block-grid(
	    $per-row: 3,
	    $spacing: $block-grid-default-spacing,
	    $base-style: false
	  );
	}

	//header
	.logo {
		margin-bottom: rem-calc(30);
	}
	.top-info {
		width: 100%;
		padding: 0 rem-calc(10);
	}
	.social-top {
		display: none;
	}
	.menu-top {
		li {
			margin-left: rem-calc(10);
		}
		a {
			font-size: rem-calc(20) !important;
			span {
				position: relative;
				top: rem-calc(4);
			}
		}
	}
	.make-project {
		span {
			display: none;
		}
	}

	//singles
	#product-info {
		footer {
			padding-left: 0;
		}
		.button-success {
			margin-bottom: 0;
			margin-top: rem-calc(10);
		}
	}	
	#product-gallery {
		height: rem-calc(300);
	}

	.list-small-thumbs {
		width: rem-calc(60);

		li {
			height: rem-calc(60);
		}
	}
	#product-canvas {
		width: rem-calc(237);
	}
}

/*
	------------------------------------------------------------------------
	480px
	------------------------------------------------------------------------
 */
@media #{$small-only} {
	//general
	.small-no-margin {
		margin: 0;
	}

	//fix row
	.row,.small-row {
		width: rem-calc(480) !important;
	}

	//header
	.logo {
		margin-bottom: rem-calc(20);
	}
	.top-info {
		width: 100%;
		padding: 0 rem-calc(10);
	}
	.social-top {
		bottom: rem-calc(38);
	}
	.menu-top {
		li {
			margin-left: rem-calc(10);
		}
		a {
			font-size: rem-calc(18) !important;
			span {
				position: relative;
				top: rem-calc(4);
			}
		}
	}
	//tabs
	#showroom-carousel {
		min-height: rem-calc(550);

		.item {
			height: rem-calc(550);
		}
		figure {
			height: rem-calc(210);
			a {
				height: rem-calc(210);
			}
			img {
				height: rem-calc(210);
			}
		}
	}

	.author-name {
		padding-left: rem-calc(10);
		padding-right: 0;
	}
	.go-post {
		display: none;
	}
	//singles
	#product-canvas {
		width: rem-calc(367);
	}

	#product-info {
		height: rem-calc(242);

		.button-success {
			font-size: rem-calc(20) !important;
		}
	}	
}

/*
	------------------------------------------------------------------------
	768px
	------------------------------------------------------------------------
 */
@media #{$medium-only} {
	//fix row
	.row {
		width: rem-calc(768) !important;
	}

	//header
	.top-info {
		width: rem-calc(520);
	}
	.contact-top,.select-lang a {
		font-size: rem-calc(12) !important;
		padding-top: rem-calc(10);
	}
	.select-lang {
		margin-left: rem-calc(15);
	}
	.social-top {
		top: rem-calc(30);
		bottom: inherit;
		a {
			font-size: rem-calc(11);
		}
	}
	.menu-top {
		li {
			margin-left: rem-calc(5);
		}
		a {
			font-size: rem-calc(18) !important;
			span {
				position: relative;
				top: rem-calc(4);
			}
		}
	}
	.logo {
		padding-bottom: rem-calc(10);
		padding-top: rem-calc(10);
	}
	.menu-subscriber {
		margin-top: rem-calc(13);

		span {
			padding-top: 0;
		}
	}

	//menu principal
	#main-menu {
		a {
			padding: rem-calc(20) rem-calc(14);
			font-size: rem-calc(16) !important;

			.icon-chevron-circle-down {
				margin-left: rem-calc(5);
				font-size: rem-calc(10);
			}
		}
	}

	.submenu-bar {
		ul {
			&.submenu {
				li {
					a {
						font-size: rem-calc(16) !important;
					}
				}
			}
		}
	}

	//slider principal
	.slide-info {
		margin-top: rem-calc(60);

		&.masks {
			margin-top: inherit;
		}
		
		header,p {
			height: rem-calc(150);
		}	
		h3 {
			font-size: rem-calc(22);
		}
		p {
			font-size: rem-calc(15) !important;
		}	
	}

	.yellow-block {
		top: 0; left: 0;
		height: rem-calc(60);
		background-color: $soft-yellow;
		opacity: 0;

		&.show {
			opacity: 1;
		}
	}

	//tabs
	#showroom-carousel {
		.item {
			height: rem-calc(550);
		}
		figure {
			height: rem-calc(230);
			a {
				height: rem-calc(230);
			}
			img {
				height: rem-calc(230);
			}
		}
	}

	.go-post {
		display: none;
	}

	#footer {
		padding-bottom: rem-calc(70);
	}

	//sinles
	#product-canvas {
		width: rem-calc(398);
	}

	#nav-product-data {
		a {
			padding: rem-calc(16 12);
			font-size: rem-calc(16);
		}
	}
}

/*
	------------------------------------------------------------------------
	1024px
	------------------------------------------------------------------------
 */
@media #{$large-up} {
	.row {
		width: rem-calc(1024) !important;
	}

	#footer {
		padding-bottom: rem-calc(70);
	}
	.select-lang {
		float: right !important;
		margin-right: rem-calc(10);

		ul {
			float: right !important;
		}
	}
}