/*
	------------------------------------------------------------------------
	Typograph
	------------------------------------------------------------------------
 */

//Sizes
.font-tiny {
	font-size: rem-calc(10) !important; 
}

.font-smallest {
	font-size: rem-calc(11);
}

.font-small {
	font-size: rem-calc(12) !important; 
}

.font-medium {
	font-size: rem-calc(14) !important;
}

.font-normal {
	font-size: rem-calc(16) !important;
}

.font-large {
	font-size: rem-calc(18) !important;
}

.font-header {
	font-size: rem-calc(20) !important;
}

.font-xlarge {
	font-size: rem-calc(22) !important;
}

//Weights
.font-lite {
	font-weight: 300;
}

.font-bold {
	font-weight: 600;
}

//line heights
.lh-normal {
	line-height: 1.4;
}

.lh-small {
	line-height: 1.2;
}

.lh-zero {
	line-height: 0 !important;
}

//colours
.white {
	color: $white !important;
}
.oil {
	color: $oil !important;
}
.silver {
	color: $silver !important;
}
.primary {
	color: $primary-color !important;
}


//Caps
.text-up {
	text-transform: uppercase;
}

.text-low {
	text-transform: lowercase;
}

/*
	------------------------------------------------------------------------
	Displays
	------------------------------------------------------------------------
 */
.d-block {
	display: block !important;
}
.d-table {
	display: table;
}
.d-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.full-height {
	@extend %full-height;
}

/*
	------------------------------------------------------------------------
	Positions
	------------------------------------------------------------------------
 */
.rel {
	position: relative;
}

.abs {
	position: absolute;
}
.p-bottom {
	bottom: 0;
}
.p-left {
	left: 0;
}
.p-right {
	right: 0;
}
.p-top {
	top: 0;
}

/*
	------------------------------------------------------------------------
	Margins
	------------------------------------------------------------------------
 */
.no-margin {
	margin: 0 !important;
}
.centered {
	margin: 0 auto;
}
.divide-10 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(10);
}
.divide-20 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(20);
}
.divide-30 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(30);
}
.divide-40 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(40);
}




/*
	------------------------------------------------------------------------
	Backgrounds
	------------------------------------------------------------------------
 */
.bg-cover {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-ghost {
	background-color: $ghost;
}

.bg-white {
	background-color: #f9f9f9;
}

.bg-oil {
	background-color: $oil;
}

.bg-oil-light {
	background-color: tint($oil,10%);
}

.bg-silver {
	background-color: $silver;
}

/*
	------------------------------------------------------------------------
	Buttons
	------------------------------------------------------------------------
 */
.button {
	text-align: left;
	.icon-chevron-circle-right {
		margin-left: rem-calc(10);
	}
	&:hover {
		background-color: $orange;
	}
}

.button-glass {
	@include button(
		$bg: false,
		$padding: false
	);
	@extend %transition;
	
	padding: rem-calc(5);
	font-weight: 700;
	color: $yellow;
	border: 1px solid $yellow;

	&:hover {
		color: $orange;
		border-color: $orange;

		.icon-container {
			background-color: $orange;
		}
	}

	&.menu {
		font-size: rem-calc(20);
	}
}

.button-submit {
	@include button(
		$bg: $soft-yellow
	);
	color: $white;
	@extend .font-header;
	@extend .font-bold;

	.icon-chevron-circle-right,.icon-chevron-circle-down {
		display: inline-block;
		margin-left: rem-calc(10);
		font-size: rem-calc(14);
	}

	.icon-three-bars {
		font-size: rem-calc(36);
	}

	.fix {
		margin-top: rem-calc(5);
		margin-right: rem-calc(10);
	}

	&:hover {
		background-color: $soft-orange;
	}
}

.button-smoke {
	@include button(
		$bg: $oil
	);
	color: $silver;
	font-size: rem-calc(32);
}

.icon-chevron-circle-right {
	@extend %transition;
	&.hover {
		@include translateX(rem-calc(10));
	}
}

.button-success {
	@include button(
		$bg: $success-color
	);
	&:hover {
		background-color: tint($success-color,20%);
	}
}

.button-white {
	@include button( $bg: $white );
	color: $primary-color;
	@extend .font-bold;
	text-align: left;
	&:hover {
		color: $silver;
		background-color: $white;
	}
}

/*
	------------------------------------------------------------------------
	Dropdowns
	------------------------------------------------------------------------
 */
.f-dropdown {
	&.bg-white {
		
		&.open {
			left: 0 !important;
			max-width: 100% !important;
		}
		a,li {
			@extend .primary;
			&:hover {
				background-color: $white;
			}
		}

		&:before {
			border-color: transparent transparent #f9f9f9;
		}
	}
}

/*
	------------------------------------------------------------------------
	Animações
	------------------------------------------------------------------------
 */
.zigzag {
	@extend %transition;
	-webkit-animation: zigzag .3s linear 0s infinite alternate;
	animation: zigzag .3s linear 0s infinite alternate;
}


@keyframes zigzag {
    from {
    	opacity: 1;
    }
    to {
    	opacity: .5;
    }
}

@-webkit-keyframes zigzag {
    from {
    	-opacity: 1;
    }
    to {
    	opacity: .5;
    }
}